@import "tailwindcss";

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Mont.ttf");
  font-weight: 400 500;
  font-display: swap;
}

@font-face {
  font-family: "Unbounded";
  src: url("/fonts/Unbounded.ttf");
  font-weight: 400 500;
  font-display: swap;
}

@theme {
  --font-sans: "Unbounded", sans-serif;
  --font-serif: "Montserrat", serif;
}

* {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: #0d0d0d;
  @apply font-serif;
}
